@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');


.img-2-pe{
    background: url(image/img1.jpg);
}

.Barber-limpiando{
    position: absolute;
    width: 270px;
    height: 304.24px;
    left: 55px;
    top: 991.88px;
    
}

.img-3-pe{
    background: url(image/img2.jpg);
}

.BarberNavaja{
    position: absolute;
    width: 270px;
    height: 304.24px;
    left: 369px;
    top: 985.73px;
}

.UbiNst{
    position: absolute;
    width: 148px;
    height: 10.26px;
    left: 689px;
    top: 991.88px;
}

.TITULE-NST{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}

.Text-MrjBarber{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
}

.LaMjorBarber{
    position: absolute;
    width: 500px;
    height: 67px;
    left: 689px;
    top: 1020px;
}

.Span-txt{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}

.Span-Txt-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}

.Txt-Pe-4{
    position: absolute;
    width: 500px;
    height: 41.02px;
    left: 689px;
    top: 1096.48px;
}

.Span-txt-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
}

.Txt-Pe-5{
    position: absolute;
    width: 500px;
    height: 87.51px;
    left: 689px;
    top: 1151.18px;
}

.button-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    box-sizing: border-box;    
    border: 1px solid #FF6C00;
    border-radius: 25px;
    
}

.ubiButton-2{
    position: absolute;
    width: 160px;
    height: 27px;
    left: 813px;
    top: 1310px;
    
}

.info-1-img{
    background: url(image/img.jpg);
}
.img-ubi-info-1{
    position: absolute;
    width: 1280px;
    height: 718px;
    left: -1px;
    top: 1385px;
}

.p-info-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.img-ubi-info-1{
    position: absolute;
    width: 423px;
    height: 15px;
    left: 134px;
    top: 1515px;
    background-image: url('image/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.titule-2-info{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}

.info-titule-2{
    position: absolute;
    width: 500px;
    height: 49px;
    left: 54px;
    top: 1550px;
}

.primer-txt-precio-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-precios-1{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 94px;
    top: 1673px;
    white-space: nowrap;
}

.primer-text-precio-1a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-precios-1a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1673px;
    white-space: nowrap;
}

.segundo-txt-precio-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-precios-2{
    position: absolute;
    width: 147px;
    height: 30px;
    left: 94px;
    top: 1723px;

}

.segundo-txt-precio-2a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-precios-2a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1723px;
}

.tercero-txt-precio-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.ubi-txt-precios-3{
    position: absolute;
    width: 151px;
    height: 30px;
    left: 94px;
    top: 1773px;
}

.tercero-txt-precio-3a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.ubi-txt-precios-3a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1773px;
}

.cuarto-txt-precio-4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;  
    
}

.ubi-txt-precios-4{
    position: absolute;
    width: 187px;
    height: 30px;
    left: 94px;
    top: 1823px;
}

.cuarto-txt-precio-4a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-precios-4a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1823px;
}

.txt--1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-text-1{
    position: absolute;
    width: 187px;
    height: 30px;
    left: 679px;
    top: 1673px;
}

.txt--1a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
    letter-spacing: 0.02em;
    color: #9DA4BD;

}

.ubi-txt-1a{
    position: absolute;
    width: 128px;
    height: 30px;
    left: 1056px;
    top: 1673px;
}

.ubi-txt-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.txt--2{
    position: absolute;
    width: 145px;
    height: 30px;
    left: 679px;
    top: 1723px;
    white-space: nowrap;

}

.ubi-txt-2a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
    letter-spacing: 0.02em;
    color: #9DA4BD;

}

.txt--2a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1723px;
    
}

.ubi-txt-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.txt--3{
    position: absolute;
    width: 252px;
    height: 30px;
    left: 679px;
    top: 1773px;
}

.txt--3a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.ubi-txt-3a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1773px;
}

.ubi-text-4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.txt--4{
    position: absolute;
    width: 210px;
    height: 30px;
    left: 679px;
    top: 1823px;
}

.ubi-text-4a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.txt--4a{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1823px;
}

.cuadro-iz{
    height: 718px;
    width: 1280px;
    left: -1px;
    top: 1385px;
    border-radius: 0px;
    
}

.cuadro-derecha{
    height: 718px;
    width: 1280px;
    left: -1px;
    top: 1385px;
    border-radius: 0px;
    
}

.button-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    box-sizing: border-box;    
    border: 1px solid #FF6C00;
    border-radius: 25px;
    
}

.ubiButton-3{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 564px;
    top: 1933px;
}

.c600{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.cuadroBlanco-1{
    position: absolute;
    width: 80px;
    height: 57px;
    left: 222px;
    top: 2362px;
}

.c600a2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
    
}

.cuadroBlanco-1a{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 201px;
    top: 2425px;
}

.img-blanca1{
    background: #F7F7F7;
}
.posicion-img{
    position: absolute;
    width: 170px;
    height: 133px;
    left: 177px;
    top: 2342px;
}

.simbolo-mas-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FF6C00;
    
}

.simboUbi1{
    position: absolute;
    width: 80px;
    height: 57px;
    left: 50px;
    top: 20px;
}

.ubiDeTodo600{
    position: absolute;
    width: 170px;
    height: 133px;
    left: 177px;
    top: 2342px;
    
}

.P50{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #303030;
}

.P50Ubi{
    position: absolute;
    width: 51px;
    height: 57px;
    left: 429px;
    top: 2397px;
}

.Pretxt{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
}

.UbiPretxt{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 401px;
    top: 2460px;
}

.ubiDeTodo50{
    position: absolute;
    width: 170px;
    height: 133px;
    left: 377px;
    top: 2377px;
}

.D20{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #303030;
    
}

.ubiD20{
    position: absolute;
    width: 51px;
    height: 57px;
    left: 229px;
    top: 2525px;
}

.txtD20{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
}

.ubiTxt20{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 201px;
    top: 2588px;
}

.ubiDeTodo20{
    position: absolute;
    width: 170px;
    height: 133px;
    left: 177px;
    top: 2505px;
    
}

.C100{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.ubiC100{
    position: absolute;
    width: 79px;
    height: 57px;
    left: 415px;
    top: 2560px;
}

.ubiDeTodoC100{
    position: absolute;
    width: 170px;
    height: 133px;
    left: 377px;
    top: 2540px;
}

.txtOLD{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
}

.ubiOLDSCO{
    position: absolute;
    width: 122px;
    height: 15px;
    left: 757px;
    top: 2351px;
    white-space: nowrap;
}

.txtWhy{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
}

.ubiWhy{
    position: absolute;
    width: 475px;
    height: 98px;
    left: 677px;
    top: 2386px;
}

.txtOur{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}

.ubiOur{
    position: absolute;
    width: 500px;
    height: 90px;
    left: 677px;
    top: 2504px;
}

.TLT-quien{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
    
}

.UbiQuien{
    position: absolute;
    width: 337px;
    height: 15px;
    left: 135px;
    top: 2815px;
    white-space: nowrap;
}

.OurBarbers{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
}

.UbiOurBarbers{
    position: absolute;
    width: 500px;
    height: 49px;
    left: 55px;
    top: 2850px;
}

.johnS{
    position: absolute;
    width: 370px;
    height: 502px;
    left: 55px;
    top: 2943px;
    
}

.MicheleDo{
    position: absolute;
    width: 370px;
    height: 502px;
    left: 455px;
    top: 2943px;
}

.AlanB{
    position: absolute;
    width: 370px;
    height: 502px;
    left: 855px;
    top: 2943px;
}

.TLT-PALABRA{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D0D0D;
}

.UBI-TLT-PALABRA{
    position: absolute;
    width: 336px;
    height: 15px;
    left: 135px;
    top: 3705px;
}

.bar-1{
    position: absolute;
    width: 270px;
    height: 360px;
    left: 55px;
    top: 3764px;
}

.bar-2{
    position: absolute;
    width: 270px;
    height: 360px;
    left: 355px;
    top: 3764px;
}

.bar-3{
    position: absolute;
    width: 270px;
    height: 360px;
    left: 655px;
    top: 3764px;
}

.bar-4{
    position: absolute;
    width: 270px;
    height: 360px;
    left: 955px;
    top: 3764px;
}