@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');

.txt-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-1{
    position: absolute;
    height: 62px;
    width: 515px;
    left: 255px;
    top: 412px;

}

.txt-2{
    position: absolute;
    left: 6.41%;
    right: 89.06%;
    top: 62.94%;
    bottom: 34.85%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
    transform: rotate(-90deg);
}

.txt-2:hover{
color: #FF6C00;
}

.utxt-2{
    position: absolute;
    left: 6.41%;
    right: 89.06%;
    top: 62.94%;
    bottom: 34.85%;
    height: 15px;
    width: 58px;
    left: 82px;
    top: 428px;
    
}

.txt-3{
    position: absolute;
    left: 6.41%;
    right: 89.06%;
    top: 62.94%;
    bottom: 34.85%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
    transform: rotate(-90deg);
}

.txt-3:hover{
    color: #FF6C00;
}

.utxt-3{
    position: absolute;
    right: 87.97%;
    bottom: 18.38%;
    height: 15px;
    width: 72px;
    left: 82px;
    top: 540px;

}

.txt-4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
}

.utxt-4{
    position: absolute;
    width: 68px;
    height: 10.26px;
    left: 769px;
    top: 970px;
}

.txt-5{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}

.utxt-5{
    position: absolute;
    width: 500px;
    height: 41.02px;
    left: 689px;
    top: 1096.48px;
}

.txt-6{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
}

.utxt-6{
    position: absolute;
    width: 500px;
    height: 87.51px;
    left: 689px;
    top: 1160px;
}

.txt-7{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-7{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 94px;
    top: 1673px;
    white-space: nowrap;
}

.txt-8{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-8{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1673px;
    white-space: nowrap;
}

.txt-9{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.utxt-9{
    position: absolute;
    width: 147px;
    height: 30px;
    left: 94px;
    top: 1723px;
    white-space: nowrap;
}

.txt-10{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-10{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1723px;
    white-space: nowrap;
}

.txt-11{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-11{
    position: absolute;
    width: 151px;
    height: 30px;
    left: 94px;
    top: 1773px;
    white-space: nowrap;
}

.txt-12{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-12{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1773px;
    white-space: nowrap;
}

.txt-13{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-13{
    position: absolute;
    width: 187px;
    height: 30px;
    left: 94px;
    top: 1823px;
    white-space: nowrap;
}

.txt-14{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-14{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 460px;
    top: 1823px;
    white-space: nowrap;
}

.txt-15{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-15{
    position: absolute;
    width: 187px;
    height: 30px;
    left: 679px;
    top: 1673px;
    white-space: nowrap;
}

.txt-16{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-16{
    position: absolute;
    width: 128px;
    height: 30px;
    left: 1056px;
    top: 1673px;
    white-space: nowrap;
}

.txt-17{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-17{
    position: absolute;
    width: 145px;
    height: 30px;
    left: 679px;
    top: 1723px;
    white-space: nowrap;
}

.txt-18{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-18{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1723px;
    white-space: nowrap;
}

.txt-19{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-19{
    position: absolute;
    width: 252px;
    height: 30px;
    left: 679px;
    top: 1773px;
    white-space: nowrap;
}

.txt-20{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-20{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1773px;
    white-space: nowrap;
}

.txt-21{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-21{
    position: absolute;
    width: 210px;
    height: 30px;
    left: 679px;
    top: 1823px;
    white-space: nowrap;
}

.txt-22{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-22{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 1045px;
    top: 1823px;
    white-space: nowrap;
}

.txt-23{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
}

.utxt-23{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 201px;
    top: 2405px;
}

.txt-24{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
    
}

.utxt-24{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 401px;
    top: 2440px;
}

.txt-25{
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
    
}

.utxt-25{
    position: absolute;
    width: 122px;
    height: 30px;
    left: 201px;
    top: 2560px;
}

.txt-26{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
}

.utxt-26{
    position: absolute;
    width: 122px;
    height: 15px;
    left: 757px;
    top: 2351px;
    white-space: nowrap;
}

.txt-27{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
    
}

.utxt-27{
    position: absolute;
    width: 500px;
    height: 90px;
    left: 677px;
    top: 2504px;

}

.txt-28{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-28{
    position: absolute;
    width: 230px;
    height: 60px;
    left: 795px;
    top: 4490px;
}

.txt-29{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-29{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 795px;
    top: 4570px;
}

.txt-30{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    
}

.utxt-30{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 795px;
    top: 4620px;
}

.txt-31{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    
    letter-spacing: 0.02em;
    
    color: #9DA4BD;
}

.utxt-31{
    position: absolute;
    width: 370px;
    height: 30px;
    left: 755px;
    top: 4738px;
}

.body{
    max-width: 100%;
}